<?xml version="1.0" encoding="utf-8" ?>
<Schedule>
  <Tasks>
    <Task>
      <Id>1</Id>
      <Hour>21</Hour>
      <Minute>22</Minute>
      <Subreddits>
        <Subreddit>Memes</Subreddit>
      </Subreddits>
      <Board>Test Board</Board>
      <List>Doing</List>
      <Count>5</Count>
      <Period>day</Period>
      <Title>memes -123</Title>
    </Task>
    <Task>
      <Id>2</Id>
      <Hour>21</Hour>
      <Minute>22</Minute>
      <Subreddits>
        <Subreddit>Memes</Subreddit>
      </Subreddits>
      <Board>Test Board</Board>
      <List>Doing</List>
      <Count>5</Count>
      <Period>day</Period>
      <Title>memes -123</Title>
    </Task>
  </Tasks>
  <TrelloToken>94f5aa59dbc5667796f7368e03da5e8ecddde88c208714acae0f048bea9c8206</TrelloToken>
  <ReadConfig>1</ReadConfig>
</Schedule>